<style>

  .themed {
    --border: 1px solid lightgray;
    --borderRadius: 3px;
    --placeholderColor: lightgray;
  }
  input {
    --height: 48px;
  }
  input::placeholder {
    --placeholderColor: lightgray;
  }
  .selectContainer {
    border: var(--border, 1px solid #d8dbdf);

    height: var(--height, 42px);
    position: relative;
    display: flex;
  }
  
</style>

<script>

	import { quintOut } from 'svelte/easing';
  import { crossfade } from 'svelte/transition';
 
  let superText = '';
  let framework = 'svelte.js';
  let bundler = 'parcel.js';
  let css = 'tailwind.css';
  import data from './data.json';
  import Select from 'svelte-select';
  import Products from './Products.svelte';


  const drinksNames = [
    'Americano średnie',
    'Americano duże',
    'Cappucino średnie',
    'Cappucino duże',
    'Gorąca Czekolada średnia',
    'Gorąca Czekolada duża',
    'Latte średnie',
    'Latte duże',
    'Mocha średnia',
    'Mocha duża',
    'Americano z mlekiem średnie',
    'Americano z mlekiem duże',
    'Herbata czarna średnia',
    'Herbata czarna duża',
    'Herbata z mlekiem duża',
    'Herbata z mlekiem średnia',
    'Flat White',
    'Napój mleczny',
    'Podwójne espresso'
  ];
  let cart = [];
let items = []
let ids = []

  function fillArray(input) {
    input.forEach(element => {
      items.push(element.place);
    });

    return ids;
  }

  function addValue() {
    quantity += 1
  }
 class ProductToExclude {
   constructor(name,quantity) {
     this.name = name
     this.quantity = 1
   }
 }
let recent;
function addProductToCart(name,number){
let recent = new ProductToExclude(name,number)

cart.push(recent)

console.log(cart)
  

}
 cart = cart 

  let count = 0;

function addQty(){

  
    return count = count +1

}
function remQty(){


    return count -=1




}
console.log(cart[0])
let showOptions = true;
const localQuantity = 0
</script>

<div class="flex h-screen max-w-full mt-4 bg-gray-100 font-inter">
  <div class="container w-1/3 ">

    <div class="max-w-sm mx-auto themed">
      <h4 class="pb-1 pl-4 text-xs font-bold text-blue-800">
        Znajdź lokalizację
      </h4>
      <Select
        createItem="{fillArray(data)}"
        placeholder="{'Szukaj'}"
        class="rounded-md shadow-lg"
        {items}
      
      />

    </div>
    <div class="max-w-sm mx-auto mt-4 themed ">
      <h4 class="pb-1 pl-4 text-xs font-bold text-blue-800">
        Numer zgłoszenia
      </h4>
      <div class="shadow-lg selectContainer">

        <input class="min-w-full pl-4 " type="text" placeholder="#OTRS" />
      </div>
    </div>
  </div>
  <div class="container w-1/3 mt-6 border-r border-gray-200">
    <div
      style="display:grid; grid-template-columns: 1fr 1fr ;"
      class="container grid py-2 bg-white"
    >
    
      {#each drinksNames as product}
      <div>

      <input type="checkbox" bind:group={cart} value={product} on:click={addProductToCart(product,1)}>
       {product}
      


    </div>


    <p>
      
    </p>
           
      {/each}


    </div>
  </div>
  <div class="container w-1/3 border-r border-gray-200">
    <h2 class="text-3xl text-center">Podsumowanie odpisu:</h2>
   <div class="bg-white shadow-md rounded my-6">
    <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
      <thead>
        <tr>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Nazwa napoju</th>
          <th class="py-4 px-2 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Ilośc do odpisu</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Powód</th>
        </tr>
      </thead>

 
      <tbody>
        {#each cart as item, i}
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light">{item}</td>
          <td class="py-4 px-6 border-b border-grey-light mx-auto flex-inline">
          
            <input bind:value={count} disabled inputmode="numeric" type="text" class='px-4 py-2 mx-auto text-center w-1/4'>
            <button on:click={addQty}  class='rounded w-8 bg-green-600 text-white text-lg'>+</button>
             <button on:click={remQty} class='rounded w-8   bg-red-600 text-white text-lg  '>-</button>
          </td>
          <td class="py-4 px-6 border-b border-grey-light">
            <a href="#"  class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-green hover:bg-green-dark">Dalej</a>
     
               <div class:block={item[i].quantity<1}   class='hidden absolute pin-b pin-l bg-white w-32 h-64'></div>

            


          </td>
          
        </tr>
          {/each}
      </tbody>
    </table>
  </div>

      

    

       



  </div>
</div>
